<footer class="footer d-flex align-items-center justify-content-center">
    <ul class="list-inline">
      <li>Made by drusc0 &copy; 2018</li>
      <li><i class="fa fa-circle bull"></i></li>
      <li>
        <a href="https://www.linkedin.com/in/andresrivero90" target="_blank"><i class="fa fa-linkedin"></i></a>
      </li>
      <li><i class="fa fa-circle bull"></i></li>
      <li>
        <a href="https://github.com/drusc0" target="_blank"><i class="fa fa-github"></i></a>
      </li>
    </ul>
</footer>