<div class="row" style="margin-top: 20px;">
  <div class="col-12 d-flex justify-content-center jumbotron">
    <h3>Sources</h3>
  </div>
</div>
<hr>
<ng-container *ngIf="!inProgress; else loading">
  <div *ngFor="let source of sourcesData.sources | paginate: { itemsPerPage: 10, currentPage: page }" class="row" style="margin: 10px 0;">
    <div class="col-12">
      
      <div class="card text-center">
        <div class="card-header">
          {{source.name}}
        </div>
        <div class="card-body">
          <p class="card-text">{{source.description}}</p>
          <a href="{{source.url}}" class="btn btn-primary">Go to Site</a>
        </div>
        <div class="card-footer text-muted">
          <ul class="list-inline">
            <li class="list-inline-item">Cat: {{source.category}}</li>
            <li class="list-inline-item">&bull;</li>
            <li class="list-inline-item">Lang: {{source.language}}</li>
            <li class="list-inline-item">&bull;</li>
            <li class="list-inline-item">Country: {{source.country}}</li>
          </ul>
        </div>
      </div>

    </div>
  </div>
  <pagination-controls (pageChange)="page = $event"></pagination-controls>
</ng-container>
<hr>
<ng-template #loading>
  <div class="row h-100 justify-content-center align-items-center">
    <span class="fa fa-spinner fa-spin fa-5x"></span>
  </div>
</ng-template>